
// FONT
// ----------------------------------------------------------------------------
$font-stack:    Helvetica, sans-serif;
$theme-success:    #30415D;
$theme-active:     #333332;
$theme-primary:    #FFFFFF;
$theme-secondary:  #333332;
$theme-ui:         #8EAEB3;
$theme-ui2:        #638B8F;
$theme-font:       #031424;
$theme-accent:     #CF6766;
